* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

<style>
* {
  box-sizing: border-box;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#myInput {
    /* background-image: url('/css/searchicon.png'); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 20px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 300px; 
  }
  
  #tableContainer {
    margin-top: 30px; /* Add margin to move the table lower */
    margin-left: 500px;
  }

#myTable {
    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
        background-color: #f1f1f1;
        
      }
      
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
  background-color: #4d96c0;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}