* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    z-index: -1;
    overflow: hidden; /* Hide overflow content */
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-container {
    margin-top: -100px; /* Adjust the margin-top value as needed */
}

.button {
    padding: 20px 40px; /* Increase padding for height and width */
    font-size: 28px; /* Increase font size */
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #2796aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button2 {
    padding: 20px 40px; /* Increase padding for height and width */
    font-size: 28px; /* Increase font size */
    text-align: center;
    color: #fff;
    background-color: #2796aa;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


.button:hover {
    background-color: #5e2e68;
}

.button:active {
    background-color: #6a589b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
