* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }
  
  #video-container {
    position: relative; /* Make the container a positioned element */
}

#myVideo {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

header {
    position: absolute; /* Position the header relative to the #video-container */
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end; /* To push buttons to the right */
    padding: 20px;
    z-index: 1; /* Ensure the header is on top of the video */
}

.button-container {
    display: flex;
    gap: 10px;
}

.login-button, .language-button {
    background-color:purple;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn {
    background-color:purple;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color:purple;
  }
  
  .language-button {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3d5bbb; 
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* .dropdown a:hover {background-color: #ddd;} */
  
  .show {display: block;}
